.TittleFormFooter
    text-transform uppercase
.FooterContainer
    background-color #00ffae
    color white
    padding-top 60px
.FooterContainer h4
    font-size 16px
.FooterContainer .navbar-link
    color white
.FooterContainer .navbar-link:hover
    color #363636

.fa-facebook-square:hover
.fa-instagram:hover
.fa-twitter-square:hover
.fa-github:hover
.fa-whatsapp:hover
	border-radius 10px

.SocialContainer
	display flex
.social:hover
	-webkit-transform scale(1.1)
    -moz-transform scale(1.1)
    -o-transform scale(1.1)
.social 
    -webkit-transform scale(0.8)
    -moz-transform scale(0.8)
    -o-transform scale(0.8)
    -webkit-transition-duration 0.5s
    -moz-transition-duration 0.5s
    -o-transition-duration 0.5s
#social-fb:hover
	color #3B5998
#social-in:hover
	color orange
#social-tw:hover
	color #4099FF
#social-git:hover
	color black
#social-wh:hover
	color green
@media (max-width 320px)
    .FooterContainer
        text-align center
        margin-top 2em  
    .SocialContainer
    	display inline-block

