	<div class="FooterContainer">
		<div class="container">
        <div class="row">
            <div class="col-md-6 NavbarFooter">
                <h4 class="TittleFormFooter">Redes Sociales</h4>
                <ul class="nav SocialContainer">
                    <li>
                        <a href="#" id="social-fb" class="navbar-link fa fa-facebook-square fa-3x social"> </a>
                    </li>
                    <li>
                        <a href="#" id="social-in" class="navbar-link fa fa-instagram fa-3x social"> </a>
                    </li>
                    <li>
                        <a href="#" id="social-tw" class="navbar-link fa fa-twitter-square fa-3x social"> </a>
                    </li>
                    <li>
                        <a href="#" id="social-git" class="navbar-link fa fa-github fa-3x social"> </a>
                    </li>
                    <li>
                        <a href="#" id="social-wh" class="navbar-link fa fa-whatsapp fa-3x social"> </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 NavbarFooter">
                <h4 class="TittleFormFooter">Navegacion</h4>
                <ul class="nav">
                    <li>
                        <a href="menu" class="navbar-link fa fa-home"> Home</a>
                    </li>
                    <li>
                        <a ui-sref="parqueadero-list" class="navbar-link fa fa-ticket"> Parqueadero</a>
                    </li>
                    <li>
                        <a ui-sref="puestos-list" class="navbar-link fa fa-road"> Puestos</a>
                    </li>
                    <li>
                        <a ui-sref="carros-list" class="navbar-link fa fa-car"> Carros</a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
</div>
